#container {
    background-color: black;
    margin: 0px;
}

/*#header {
    height:100px;
    width:300px;
    text-align:left;
    padding: 10px;
}*/
#nav {
    min-width:120px;
}

#icon {
  max-width: 100px;
  min-width: 100px;
}
#photo {
    width:300px;
}
#text{
    /*line-height:20px;*/
    color: white;
    float:left;
    margin: 0px;
}

#title {
    text-align: left;
    color:yellow;
}

.row {
  background-color: black;
}

/* unvisited and visited link */
a:link, a:visited {
    color: #fbf309;
}
/* mouse over link */
a:hover {
    color: orange;
}
body
{
  background: black;
}

.container-fluid {
  background-color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
}
